@import url
('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #f3fbfb;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  width: 900px;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
}

.card-img img {
  height: 200px;
}

.card h3 {
  font-size: 16px;
  font-weight: bold;
}

.card-content {
  padding: 10px;
}

.card-content span {
  padding: 3px 15px;
  font-size: 12px;
  color: #f3fbfb;
  border-radius: 50px;
}

.tag-one {
  background-color: #51adc4;
}

.tag-two {
  background-color: #584255;
}

.tag-three {
  background-color: #9f7e71;
}

.author-details {
  flex-direction: column;
  color: black;
}

.author img {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  object-fit: contain;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
}

.author span {
  color: black;
  font-size: 13px;
}

.name {
  font-size: 14px;
}
